# PyTorch with CUDA support
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.2+cu121
torchvision==0.17.2+cu121
torchaudio==2.2.2

# Core
numpy
tqdm
matplotlib
wandb
datasets

# Audio Processing
pydub
soundfile
librosa

# Jupyter Environment
notebook
ipykernel
jupyter
ipywidgets
jupyterlab-widgets